@import './base.css';

#app {
  max-width: 100%;
  margin: 1rem;
  padding: 2rem;
  font-weight: normal;
  
}

.p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid #e5e7eb;
  font-size: 14px;
  border-width: 0 0 1px 0;
  padding: 5px 5px;
 
}

.p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  border: 1px solid #e5e7eb;
  font-size: 15px;
  border-width: 0 0 1px 0;
  padding: 5px 5px;

}

.p-card-title{
  font-weight: bolder;

}

.p-inputtext {
  padding: 4px !important;
  font-size: 14px ;
}

.p-button {
  padding: 0.4rem 1rem;
  
}

.p-button.p-button-icon-only.p-button-rounded {
  padding: 0.1rem 0.1rem;
  height: 1rem;
  width: 1rem;
}



.p-card{
  box-shadow:none;
  font-size:14px;

}

.p-card .p-card-body{
  padding: 5px !important;

}

.field {
  margin-bottom: 5px !important;  
}


a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
/*
.p-panel .p-panel-header{
  border: solid 2px #fddae7 !important;
  background-color: #d2d2d2;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

.p-panel .p-panel-content{
  border: solid 2px #fddae7 !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}
*/
.p-menubar {
 
  border-radius: 0%;
  color: rgb(255, 255, 255);
 
}



.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link:hover{
  color: rgb(0, 0, 0);
  background-color: hsla(294, 100%, 37%, 0.2);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(294, 100%, 37%, 0.2);
  }
}

@media (min-width: 89em) {
  body {
    display: flex;
 
  }

 
}
